.main-mail-container {
  background-color: #e8e8e8;
  padding: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
