.margin-top {
  width: 78.125%;
  height: 4rem;
}
.mail-container {
  width: 78.125%;
  margin: 0 auto;
  background-color: #8f8f8f;
  min-height: 800px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.3);
  /* layout */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
.main {
  grid-column: 2 / -1;
}
